<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>helloworld</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HelloData</display-name>
    <servlet-name>HelloData</servlet-name>
    <servlet-class>com.hongyewell.controller.HelloData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloData</servlet-name>
    <url-pattern>/HelloData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublishData</display-name>
    <servlet-name>PublishData</servlet-name>
    <servlet-class>com.hongyewell.controller.PublishData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublishData</servlet-name>
    <url-pattern>/PublishData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.hongyewell.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewsDetailController</display-name>
    <servlet-name>NewsDetailController</servlet-name>
    <servlet-class>com.hongyewell.controller.NewsDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsDetailController</servlet-name>
    <url-pattern>/NewsDetailController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RefreshData</display-name>
    <servlet-name>RefreshData</servlet-name>
    <servlet-class>com.hongyewell.controller.RefreshData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RefreshData</servlet-name>
    <url-pattern>/RefreshData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.hongyewell.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HelloDataServlet</display-name>
    <servlet-name>HelloDataServlet</servlet-name>
    <servlet-class>com.hongyewell.controller.HelloDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloDataServlet</servlet-name>
    <url-pattern>/HelloDataServlet</url-pattern>
  </servlet-mapping>
</web-app>